



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incredible India | {{title}}</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" type="image/png" href="/img/favico.png" />
</head>

<body>
    <header>
       
        <nav id="navbar">
            <img src="/img/indiaflag.png" class="logo" />
            INCREDINDIA
            <a href="/home">home</a>
            <a href="/about">about</a>
            <a href="/sites">sites</a>
            <a href="/gallery">gallery</a>
            <a href="/login">login</a> 


        </nav>
    </header>
    {{{body}}}
    <footer>
        &copy; Paul Parant IronHack-cohort-102-2020
    </footer>
</body>

</html>